body{
		margin: 0;
		font-family: Arial
	}
	header{
		background-color: #F0FFFF;
		text-align:center;
		font-family: 'Comic Neue', cursive;

	}
	header h1{
		color: black;
		font-size: 50px;
	}
	header img{
		border-radius: 
	}
main{
	max-width: 8000px;
	margin: 0 auto;
	padding: 10 20px;
}
main img{
	max-width: 100%
}
h2{
	font-size: 26px;
	color: #0000FF;
}
footer{
	background-color: #F0FFFF;
	text-align: center;
	color:#0000FF;
	padding:px;
}
