body{
		margin: 0;
		font-family: Arial
	}
	header{
		background-color: #F0FFFF;
		text-align:center;
		font-family: 'Comic Neue', cursive;

	}
	header h1{
		color: black;
		
	}
	header img{
		border-radius: 
	}